<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Welcome, <%= current_user.username %> to Light it Up!</h1>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Instructions</h2>
      <p>instruction text</p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <a href="/new_game">Click to play!</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <a href="/leaderboard">View Leaderboard</a>
    </div>
  </div>
</div>
