<div class="container-fluid">

    <div class="page-header text-center">
      <h1>Light-it-Up Game Details for <%= current_user.username %></h1>
      <a href="/leaderboard" class="btn btn-info">Back to Leaderboard</a><a href="/" class="btn btn-success">Back to Home</a>
    </div>

    <div class="col-md-10 col-md-offset-1">
      <table class="table table-striped">
        <caption style="text-align:left"><h4>All Light-it-Up Games</h4></caption>
        <thead>
          <th style="text-align:center">Game #</th>
          <th style="text-align:center">Date</th>
          <th style="text-align:center">Number of Moves</th>
          <th style="text-align:center">Result</th>
        </thead>

        <% counter = 0 %>
        <% @user_games_all.each do |game| %>
        <% counter = counter + 1 %>
        <tr>
          <td style="text-align:center"><%= counter %></td>
          <td style="text-align:center"><%= game.created_at.localtime.strftime("%B %d, %Y %I:%M %p") %></td>
          <td style="text-align:center"><%= game.num_moves %></td>
          <td style="text-align:center">
            <% if game.win == 1 %>
            Win
            <% else %>
            Lose
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>

</div>
